AMAZON_RDS_URL=jdbc:mysql://your-rds-endpoint.amazonaws.com:3306/film_rental?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
AMAZON_RDS_USERNAME=your_rds_username
AMAZON_RDS_PASSWORD=your_rds_password

REDIS_HOST=your-redis-host.redis.io
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=your_redis_password

CORS_ALLOWED_ORIGIN=http://localhost:8081
